/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 may 2023, 11:07:24
    Author     : picos
*/
/*
.button{
    -fx-background-color: #444349;
    -fx-border-color: #ff0000;
    -fx-text-fill: #dddddd;
}
*/